body {
    font-family: 'Noto Serif', serif;
}
section {
    width: 70%;
    border: 2px solid rgba(204, 204, 204, 0.5);
    border-radius: 10px;
    margin: 15px auto;
    padding: 25px;
}

img {
    width: 400px;
}

.img {
    display: flex;
    align-items: center;
}

.title-open {
    font-size: 24px;
    font-weight: bold;
}

.dict {
    color: #a1a1a1;
}

.poem {
    display: flex;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.text {
    margin-left: 50px;
}