section {
    width: 70%;
    border: 2px solid rgba(204, 204, 204, 0.5);
    border-radius: 10px;
    margin: 15px auto;
    padding: 25px;
}

img {
    width: 400px;
}

.title-open {
    font-size: 22px;
}

.dict {
    color: #a1a1a1;
}

.poem {
    display: flex;
}

.title {
    font-size: 20px;
    font-weight: bolder;
}

.text {
    display: table-cell;
    margin-left: 50px;
    vertical-align: middle;
}